*,
*::after,
*::before {
  box-sizing: border-box;
  transform-style: preserve-3d;
}
body {
  perspective: 2000px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: /*radial-gradient(circle at 50% 50%, #fff 0%, #7EC0EE 200%)*/
    linear-gradient(to top,
      #6C7A88,#B3C7DD);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto';
  font-weight: 300
}
#container {
  width:370px;
  height:370px;
  background:
    linear-gradient(
      to bottom,#f1f1f1,#9d9e9f
    );
  box-shadow:
    inset 0 3px 10px rgba(255,255,255,1),
    inset 0 -3px 10px rgba(0,0,0,0.25),
    0 30px 40px rgba(0,0,0,0.5);
  border-radius:50%;
  z-index:2;
  opacity:1;
}
#container::after{
  content:'';
  position:absolute;
  width:326px;
  height:326px;
  background:
    linear-gradient(
      to bottom,#879CAC,#DDE2E5
    );
  border-radius:50%;
  top:22px;
  left:22px;
}
#container::before{
  content:'';
  position:absolute;
  z-index:3;
  background:
    linear-gradient(
      to bottom,#f1f1f1,#cfcfcf
    );
  box-shadow:
    inset 0 3px 10px rgba(255,255,255,1),
    inset 0 -3px 10px rgba(0,0,0,0.25),
    0 3px 10px rgba(0,0,0,0.25),
    0 30px 40px rgba(0,0,0,0.35);
  border-radius:50%;
  width:130px;
  height:130px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
#inner{
  position:absolute;
  top:50%;
  left:50%;
  width:312px;
  height:312px;
  border-radius:50%;
  transform: translate(-50%,-50%);
  background:#A8D0F3;
  box-shadow:
    inset 0 3px 10px rgba(0,0,0,0.15),
    inset 0 -3px 10px rgba(255,255,255,0.5),
    inset 0 30px 40px rgba(0,0,0,0.25);
  z-index:2
}
#inner::after{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  background-image:
    linear-gradient(40deg,
    rgba(255,255,255,0) 42%,
    rgba(255,255,255,0.1) 44%,
    rgba(255,255,255,0.15) 70%,
    rgba(255,255,255,0) 72%)
    ;
  box-shadow:
    inset 0 14px 20px rgba(0,0,0,.15),
    inset 0 60px 40px 0px rgba(255,255,255,.25);
  border-radius:50%;
}
#notches{
  position:absolute;
  top:50%;
  left:50%;
  width:260px;
  height:260px;
  transform: translate(-50%,-50%) rotateZ(-22.5deg);
  border-radius:50%;
  border:10px solid rgba(25,125,225,0.75);
  border-bottom-color:transparent;
  border-right-color:rgba(225,25,25,0.75);
  border-left-width:0px;
}
#notches::before{
  content:'';
  position:absolute;
  transform-origin:0% 50%;
  background:#222;
  width:120px;
  height:4px;
  left:50%;
  top:50%;
  margin-left:4px;
  /*transform: rotateZ(-66deg);*/
  border-radius:2px;
  /*
  transform: rotateZ(0deg);
  box-shadow: -5px 10px 10px rgba(0,0,0,.4);
  */
  animation: measure 10s infinite;
}
@keyframes measure {
  0%,100%{
    transform: rotateZ(-175deg);
    box-shadow: 3px -10px 10px rgba(0,0,0,.4);
  }
  20%,60%{
    transform: rotateZ(40deg);
    box-shadow: 3px 10px 10px rgba(0,0,0,.4);
  }
  50%{
    transform: rotateZ(-44deg);
    box-shadow: -4px 2px 10px rgba(0,0,0,.4);
  }
}
